.container {
  margin-top: 25px;
}

.divider {
  margin-bottom: 10px !important;
  background-color: cornflowerblue !important;
  height: 2px !important;
}

.input {
  width: 250px;
}

.submitButton {
  margin-left: 10px;
}
